@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


*,*::after, *::before{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root{
  --primary: rgba(40, 115, 121, 100);
  --primary-light: rgba(65,172,181, 100);
  --secondary: rgba(204,242,219,100);
  --secondary-light: rgba(230,250,241,100);
  --black: rgba(0,0,0,100);
  --white: rgba(255,255,255,100);
  --font-large: 2rem;
  --font-medium: 1.5rem;
  --font-small: 1rem;
}

body{
  font-family: 'Poppins';
  background-color: var(--secondary-light);

}