.navbuttonscontainer{
    background-color: var(--secondary);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(auto, 1fr);
    gap: 4em;
    padding: 1em 2em;
    border-radius: 2em;
    color: var(--primary);
}
.navbuttonscontainer div{
    font-size: 2em;
}
.navbuttonscontainer div:hover{
    cursor: pointer;
    transform: scale(1.2);
    transition: all 0.1s ease-in-out;
}
