.navbuttonscontainer{
    background: linear-gradient(225deg, #e6e8e6ff, #ffffffff, #ced0ceff);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(auto, 1fr);
    gap: 3em;
    padding: 1em 1.5em;
    border-radius: 2em;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    color: #514D4A;
    place-items: center;
    max-width: 500px;
}
.navbuttonscontainer div{
    font-size: 1.8em;
}
.navbuttonscontainer div:hover{
    cursor: pointer;
}

.mobilenavbar{
    display: flex;
    justify-content: center;
    column-span: all;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 0.3em;
  }

.header{
    grid-column: 1/12;
    grid-row: 1/2;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding-left: 1em;
    padding-right: 1em;
    /* background-color: var(--platinum); */
    border-radius: 10px;
}
.headerImage{
    width: 12em;
}

.headerAvatar{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: var(--secondary-light);
    padding: 0.2em;
}

.signoutpopOver{
    position: absolute;
    right: 10px;
    top: 70px;
    z-index: 1000;
}