.navbuttonscontainer{
    background-color: var(--secondary);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(auto, 1fr);
    gap: 3em;
    padding: 1em 1.5em;
    border-radius: 2em;
    color: var(--primary);
    place-items: center;
    max-width: 500px;
}
.navbuttonscontainer div{
    font-size: 1.8em;
}
.navbuttonscontainer div:hover{
    cursor: pointer;
}

.mobilenavbar{
    display: flex;
    justify-content: center;
    column-span: all;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 0.3em;
  }



.header{
    grid-column: 1/12;
    grid-row: 1/2;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
}
.headerImage{
    width: 10em;
}
.headerAvatarContainer{
    display: flex;
    /* position: relative; */
}

.headerAvatar{
    width: 48px;
    height: 48px;
    position: relative;
}

.signoutpopOver{
    position: absolute;
    right: 10px;
    top: 70px;
    z-index: 1000;
}