@media (min-width:768px){
    .maincontainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 100vw;
    }
    .secondMaincontainer{
        display: flex;
        /* border: 1px solid red; */
        width: 100%;
        justify-content: space-around;
        height: 82vh;
        align-items: center;
        margin-top: -1em;
 
    }
    .jumbotron{
        /* border: 1px solid black; */
        margin-left: 5em;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        margin-top: -1em;
    }
    .headerHeading{
        font-size: 3rem;
        font-weight: 700;
        margin-top: 2em;
        position: relative;
        max-width: 550px;
        text-align: center;
        /* border: 1px solid red; */
    }
    .headerHeading span{
        color: var(--primary);
        font-size: 5rem;
        font-weight: 700;
        letter-spacing: 15px;
    }
    .headerSubText{
        font-size: 1.5rem;
        margin-top: 1.2em;
        margin-bottom: 1em;
        text-align: center;
        max-width: 600px;
    }
    
    .headerButton{
        background: linear-gradient(225deg, #e6e8e6ff, #ffffffff, #ced0ceff);
        padding: 0.5em 1em;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 0.5em;
        border-radius: 0.5em;
        margin-top: 1em;
        max-width: 180px;
    }
    .jumbotronContainer{
        /* border: 1px solid black; */
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0;
        margin: 0;
        margin-bottom: 5em;
        margin-top: 3em;
        background-color: var(--platinum);
        padding: 4em;
        z-index: -1;
    }
    .jumbotronText{
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 700px;
        order: 1;
        z-index: 2;
    }
    
    .jumbotronImageContainer{
        /* border: 1px solid black; */
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .jumbotronImage{
       
        object-fit: cover;
        /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); */
    }
    .jumbotronCircle{
        transform: rotate(90deg);
        position: absolute;
        z-index: -1;
        left: 0;

    }
    
 
    .jumbotronText h1{
        font-size: 3rem;
        font-weight: 700;
        margin-bottom: 0.5em;
        color: var(--primary);
        margin-left: 0.5em;
    }
    .jumbotronText p{
        font-size: 1rem;
        margin-bottom: 1em;
        max-width: 400px;
        font-weight: 580;;
    }
}


  @media (max-width: 690px) {
    .maincontainer{
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    .headerHeading{
        font-size: 2rem;
        font-weight: 400;
        margin-top: 1em;
        text-align: center;
        /* border: 1px solid red; */
    }
    .headerHeading span{
        color: var(--primary);
        font-size: 3rem;
        font-weight: 700;
    }
    .headerSubText{
        font-size: 1rem;
        margin-top: 1em;
        margin-bottom: 1em;
        text-align: center;
        max-width: 400px;
    }
    .headerButton{
        background-color: linear-gradient(225deg, #e6e8e6ff, #ffffffff, #ced0ceff);
        padding: 0.5em 1em;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 0.5em;
        border-radius: 0.5em;
        margin-top: 1em;
        max-width: 200px;
    }
    .jumbotronContainer{
        display: flex;
        flex-direction: column;
        position: relative;
    }
    .jumbotronText{
        order: 1;
        text-align: center;
        margin-bottom: 4em;
        margin-top: 2.5em;
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    .jumbotronText h1{
        font-size: 1.5rem;
        font-weight: 700;
        margin-bottom: 0.5em;
        color: var(--primary);
    }
    .jumbotronText p{
        font-size: 1rem;
        margin-bottom: 1em;
        font-weight: 580;
        max-width: 400px;
    }
    .jumbotronCircle{
        position: absolute;
        z-index: -1;
        right: 0;
        top: 12em;
    }

}


