
.pricingCardContainer{
    display: flex;
    justify-content: center;
    margin-top: 3em;
    position: relative;
    align-items: center;
    /* border: 1px solid #E5E5E5; */

}
.pricingCardStyle{
    display: none;
}

.pricingCard{
    display: flex;
    gap: 12px;
}



.featureItem{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-bottom: 8px;
}
.upgradeButtonContainer{
    display: flex;
    justify-content: center;
    margin-top: 1em;
}


@media (max-width:480px) {
    .pricingCardContainer{
        margin-bottom: 6em;

    }
    .pricingCard{
        flex-direction: column;
        gap: 10px;
        max-width: 410px;
    }
    .pricingCardStyle{
        position: absolute;
        display: block;
        z-index: -1;
        bottom: -70px;
        right: 0;
       
    }
}


@media screen and (max-width: 768px) {
    .pricingCardContainer{
        margin-bottom: 6em;

    }
    .pricingCard{
        flex-direction: column;
        gap: 10px;
        max-width: 410px;
    }
    .pricingCardStyle{
        position: absolute;
        display: block;
        z-index: -1;
        bottom: -70px;
        right: 0;
       
    }
    
}